# Ignore the node_modules directory
node_modules/

# Ignore Logs
logs
*.log

# Ignore the build directory
### NetBeans ###

/nbproject/private/
/build/
/dist/
dist/
# /nbdist/
# /.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# The file containing environment variables 
.env

# Ignore IDE specific files
.idea/
.vscode/
*.sw*
