/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 10, 2022, 2:29:38 PM
    Author     : CBWAHYI
*/


/*.toggle-example .toggle{
    height: 18px !important;
    min-height: 18px !important;
    min-width: 60px !important;
    width: 60px !important;
}*/


/*--- Toggle ---*/
.toggle-example .toggle {
    margin-right: 10px;
    margin-bottom: 10px;
}

.toggle.ios,
.toggle-on.ios,
.toggle-off.ios {
    border-radius: 20px;
}

.toggle.ios .toggle-handle {
    border-radius: 20px;
}

.toggle.android {
    border-radius: 0px;
}

.toggle.android .toggle-handle {
    border-radius: 0px;
}

.slow .toggle-group {
    transition: left 0.7s;
    -webkit-transition: left 0.7s;
}

.fast .toggle-group {
    transition: left 0.1s;
    -webkit-transition: left 0.1s;
}

.quick .toggle-group {
    transition: none;
    -webkit-transition: none;
}

